* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#main_menu {
  background-color: #ffce32 !important;
  padding: 50px 0;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
}

.main_logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #1d63ff !important;
  overflow: hidden;
}

.main_logo::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 1000%;
  background: url(./assets/images/logo-shape.png);
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  animation: logo_shpae linear 3s infinite;
}

@keyframes logo_shpae {
  100% {
    left: 100%;
  }
}

#main_menu ul li a {
  font-size: 30px;
  color: #121722;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
  /* font-family: Helvetica-rony; */
}

#main_menu ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #1d63ff;
  transition: 0.4s;
}

#main_menu ul li a::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #1d63ff;
  transition: 0.4s;
}

.invalid-feedback {
  display: block;
}

#main_menu ul li {
  position: relative;
  margin-right: 20px;
  z-index: 1;
}

#main_menu ul li:last-child {
  margin-right: 0;
}

#main_menu ul li::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  height: 7px;
  width: 7px;
  background-color: #1d63ff;
  border-radius: 50%;
  transition: 0.4s;
  z-index: -1;
  opacity: 0;
}

#main_menu ul li:hover::before {
  bottom: -2px;
  opacity: 1;
}

#main_menu ul li:hover a::after {
  width: 50%;
}

#main_menu ul li:hover a::before {
  width: 50%;
}

#main_menu ul li:hover a {
  color: #1d63ff;
}

#main_menu .menu_btn {
  font-size: 30px;
  color: #1d63ff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 8px 35px;
  margin-left: 30px;
  text-transform: capitalize;
  border-radius: 50px;
  border: 2px solid #1d63ff;
  transition: 0.4s;
  position: relative;
  cursor: pointer;
}

#main_menu .menu_btn i {
  margin-right: 3px;
}

#main_menu .menu_btn:hover {
  background-color: #1d63ff;
  color: #ffff;
}

#main_menu .menu_btn2 {
  background-color: #1d63ff;
  color: #ffff;
}

#main_menu .menu_btn2:hover {
  background-color: transparent;
  color: #1d63ff;
}

/* log in start ---------------------------------------- */

#login_modal .modal-header button {
  color: #ffce32;
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: #121722;
  /* border-radius: 50%; */
  transition: 0.4;
}

#login_modal .modal-header button:hover {
  background-color: #ffce32;
  color: #1d63ff;
  opacity: 1;
}

#login_modal .btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: none;
  border: 0;
  border-radius: 0.25rem;
  opacity: 1;
}

#login_modal {
  max-width: 900px;
}

#login_modal .modal-header h3 {
  color: #121722;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

#login_modal .modal-header h3 span {
  color: #1d63ff;
}

#login_modal .modal-header {
  display: block;
  position: relative;
}

#login_modal .modal-header button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#login_modal ul li img {
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

#login_modal ul li {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-left: 40px;
  margin-top: 35px;
}

#rony input {
  padding: 18px 20px !important;
}

.form-floating > .form-control {
  padding: 0 0;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(0px 0px) !important;
  line-height: 30px !important;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(30px + 2px);
  line-height: 1.25;
}

#rony input.form-control:focus {
  box-shadow: none;
}

#rony .form-floating > .form-control:focus,
#rony .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0.6rem;
  padding-bottom: 0.625rem;
}

#rony .form-floating > label {
  left: 10px;
  padding: 5px 0.15px;
  font-size: 14px;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
  background: #fff;
  -webkit-transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
  -moz-transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
  -ms-transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
  -o-transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
}

#reg_input button {
  background-color: #3b5999;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 7px 20px 7px 45px;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.4s;
  border: none;
  z-index: 9;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

#reg_input h4 {
  color: #121722;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

#reg_input form button {
  padding: 7px 20px;
  margin-top: 20px;
  background: #f2c32b;
  color: #121722;
  transition: 0.4s;
}

#reg_input form button:hover {
  background-color: #1d63ff;
  color: #fff;
}

/* log in end ---------------------------------------- */

/* -------------------------------
            header top end
------------------------------- */

/* -------------------------------
            banner start
------------------------------- */
#banner_start {
  padding-top: 50px;
  padding-bottom: 80px;
  background: #ffce32;
  position: relative;
  overflow: hidden;
  cursor: default;
}

#banner_start h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #1d63ff !important;
  text-align: center;
  /* cursor: default; */
}

#banner_start h1 span {
  color: #121722;
  text-transform: capitalize;
}

#banner_start svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 400px;
}

#banner_start svg path {
  fill: none;
  stroke: #ffff;
  stroke-width: 40px;
  stroke-dasharray: 1038px;
  stroke-linecap: round;
  stroke-linejoin: bevel;
  transform-origin: 0px 0px 0px;
  stroke-dashoffset: 1030px;
  transition: 0.4s;
}

#banner_start .serach_bar {
  text-align: center;
  margin-top: 150px;
  position: relative;
  z-index: 9;
}

#banner_start form {
  display: inline-block;
  position: relative;
  z-index: 9999;
}

#banner_start form input {
  width: 800px;
  padding: 20px 80px 20px 25px;
  border-radius: 50px;
  border: none;
  border: 2px solid transparent;
}

#banner_start form input::placeholder {
  color: #121722a6;
  font-size: 20px;
}

#banner_start form button {
  background-color: #ffce32;
  color: #1d63ff;
  font-size: 30px;
  border: none;
  height: 54px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  transition: 0.4s;
}

#banner_start form input:focus {
  border-color: #1d63ff;
  box-shadow: none;
}

#banner_start form button:hover {
  background-color: #1d63ff;
  color: #ffce32;
}

#banner_start .location_track_button {
  position: relative;
}

#banner_start .location_track_button button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  /* background: #f193368e; */
  background-color: #1d65fff8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 8px 35px;
  text-transform: capitalize;
  border-radius: 50px;
  transition: 0.4s;
  border: none;
  z-index: 9;
  cursor: pointer;
}

#banner_start .btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: none;
}

.banner_arrw_shpae {
  position: absolute;
  right: -35px;
  top: -251px;
  width: 860px;
  transform: rotate(-22deg);
}

#banner_start .social_icon {
  position: absolute;
  left: 50px;
  bottom: 100px;
}

#banner_start .social_icon a {
  background-color: #121722;
  color: #ffce32;
  font-size: 20px;
  border: none;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin-top: 10px;
  transition: 0.4s;
}

#banner_start .social_icon a:hover {
  color: #fff;
  background-color: #1d63ff;
}

#banner_start .modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

#location_modal .modal-header button {
  color: #ffce32;
  font-size: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background: #121722;
  /* border-radius: 50%; */
  transition: 0.4;
}

#location_modal .modal-header button:hover {
  background-color: #ffce32;
  color: #1d63ff;
  opacity: 1;
}

#location_modal .btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: none;
  border: 0;
  border-radius: 0.25rem;
  opacity: 1;
}

#location_modal .modal-header h3 {
  color: #121722;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

#location_modal .modal-header {
  display: block;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  position: relative;
}

#location_modal .modal-header button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#location_modal .btn-close:focus {
  box-shadow: none;
}

#location_modal .modal-header p {
  background-color: #ffce32;
  color: #121722;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
}

#location_modal .modal-body button {
  text-align: left;
  position: relative;
  color: #121722;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #12172213;
}

#location_modal .modal-body .district_name_btn .active {
  background-color: #ffce32 !important;
  font-weight: 700;
  opacity: 1;
}

#location_modal .modal-body button i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

#location_modal .divisions {
  color: #121722;
  background-color: #bec0c3;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

#location_modal .divisions i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 18px;
}

#location_modal ul li {
  text-align: left;
  color: #1d63ff;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #12172213;
  cursor: pointer;
  padding: 10px 0;
}

#location_modal ul li:hover {
  color: #ffce32;
  background-color: #121722 !important;
  font-weight: 700;
  padding-left: 20px;
  border-radius: 5px;
}

#location_modal ul p {
  text-align: left;
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

/* -------------------------------
            banner end
------------------------------- */

/* -------------------------------
            category start
------------------------------- */
#category {
  padding-top: 50px;
  padding-bottom: 100px;
  /* background: #C4C5CA; */
}

#category h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #121722 !important;
}

#category ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
}

#category ul li {
  width: 23%;
  margin-bottom: 30px;
}

#category ul li a {
  width: 100%;
  position: relative;
  border: 3px solid #ffce32;
  padding-left: 60px;
  padding: 25px 25px 25px 85px;
  border-radius: 5px;
  background: #ffcf3233;
  transition: 0.4s;
}

#category ul li a:hover {
  background: #ffce32;
  color: #fff;
  transform: scale(1.2);
  z-index: 9999;
}

#category ul li a:hover h3 {
  color: #1d63ff;
}

#category ul li a:hover p {
  color: #1d63ff;
}

#category a img {
  height: 50px;
  position: absolute;
  left: 20px;
  top: 25px;
}

#category h3 {
  color: #121722;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#category p {
  font-size: 16px;
  color: #121722;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  margin-top: 5px;
}

/* -------------------------------
            category end
------------------------------- */

/* -------------------------------
            footer start
------------------------------- */
#footer {
  padding: 50px 0;
  background-color: #ffce32;
}

#footer .main_logo {
  position: inherit;
  transform: translateX(0);
}

#footer p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

#footer h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #121722 !important;
  margin-top: 18px;
  margin-bottom: 30px;
}

#footer .link a {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #121722;
  margin-bottom: 10px;
  transition: 0.4s;
  position: relative;
}

#footer .link a:hover {
  color: #1d63ff;
}

#footer .link a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 110%;
  background-color: #1d63ff;
  transition: 0.4s;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

#footer .link a:hover::before {
  width: 110%;
  transform: scaleX(1);
  transform-origin: left;
}

#footer .contact a {
  display: block;
}

#footer .contact.link a::before {
  display: none;
}

#footer .contact.link a i {
  margin-right: 5px;
}

#copyright {
  padding: 30px 0;
  background: #f2c32b;
  text-align: center;
}

#copyright p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #121722;
}

#copyright a {
  font-size: 16px;
  font-weight: 700;
  color: #1d63ff;
  margin-left: 5px;
  transition: 0.4s;
}

#copyright a:hover {
  text-decoration: underline;
}

/* -------------------------------
            footer end
------------------------------- */

/* -------------------------------
    category_products start
------------------------------- */
#category_products {
  padding: 50px 0;
}

#category_products form input {
  padding: 20px 80px 20px 25px;
  border-radius: 50px;
  border: 2px solid #f2c32b;
  width: 100%;
}

#category_products form input:focus {
  border-color: #1d63ff;
  box-shadow: none;
}

#category_products .search_bar {
  margin-bottom: 50px;
}

#category_products form {
  position: relative;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

#category_products form button {
  background-color: #ffce32;
  color: #1d63ff;
  font-size: 30px;
  border: none;
  height: 54px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s;
}

#category_products form button:hover {
  background-color: #1d63ff;
  color: #ffce32;
}

#category_products .item {
  display: flex;
  height: 150px;
  overflow: hidden;
  background-color: #ffcf3233;
  border: 2px solid #f2c32b;
  border-radius: 5px;
  transition: 0.4s;
  margin-bottom: 20px;
}

#category_products .item:hover {
  border-color: #1d63ff;
  background: #ffce32;
}

#category_products a {
  display: block;
}

#category_products .item .img {
  background: #fff;
}

#category_products .item .img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#category_products .item .text {
  width: 70%;
  padding: 15px 15px 0 15px;
}

#category_products h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#category_products p {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#category_products h4 {
  font-size: 15px;
  font-weight: 700;
  color: #1d63ff;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------------
    category_products end
------------------------------- */

/* -------------------------------
    product_details start
------------------------------- */
#product_details {
  background-color: #ddd;
}

#product_details .img_details img {
  object-fit: contain;
}

#product_details .img_details .big_img_slider {
  background: #ffcf3233;
}

#product_details .container {
  background-color: #fff;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  height: 500px;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide img {
  height: 500px;
  object-fit: cover;
}

.carousel .thumb {
  height: 80px;
}

.carousel .thumb img {
  height: 100%;
  object-fit: cover;
  opacity: 0.9 !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid #ffce32 !important;
  opacity: 1 !important;
}

#product_details .big_img_slider img {
  height: 350px;
  margin: 0 auto;
}

#product_details .small_img_slider {
  margin-top: 30px;
}

#product_details .small_img_slider img {
  height: 100px;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

#product_details .small_img_slider .item {
  cursor: pointer;
}

/* slick-center */
#product_details .small_img_slider .item {
  position: relative;
}

#product_details .small_img_slider .item::before {
  position: absolute;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#product_details .small_img_slider .slick-current .item::before {
  display: none;
}

#product_details .small_img_slider .img_item .item {
  margin: 0 15px;
}

#product_details .product_details_title h3 {
  font-size: 25px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#product_details .product_details_title {
  padding: 30px 0;
}

#product_details .product_details_title p {
  font-size: 20px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#product_details .prev {
  font-size: 40px;
  color: #ffce32;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s;
  z-index: 99;
}

#product_details .next {
  font-size: 40px;
  color: #ffce32;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.4s;
  z-index: 99;
}

#product_details .prev:hover {
  color: #1d63ff;
}

#product_details .next:hover {
  color: #1d63ff;
}

#product_details .pricing ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product_details .pricing ul li {
  position: relative;
  padding-left: 60px;
  width: 50%;
  margin-bottom: 25px;
}

#product_details .pricing ul li .img {
  height: 45px;
  width: 45px;
  background-color: #ffce32;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.43);
}

#product_details .pricing ul li .img img {
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#product_details .pricing ul li p {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
}

#product_details .pricing ul li p span {
  display: block;
  font-weight: 700;
}

#product_details .pricing {
  cursor: default;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#product_details .information {
  position: sticky;
  left: 0;
  top: 150px;
}

#product_details .pricing h3 {
  font-size: 20px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  margin-bottom: 30px;
}

#product_details .call_seller {
  display: block !important;
  border-top: 1px solid #1217221a;
}

#product_details .call_seller li {
  padding-left: 0 !important;
  margin-bottom: 7px !important;
}

#product_details .call_seller p {
  font-size: 15px !important;
  font-weight: 700 !important;
  color: #121722 !important;
  font-family: "Open Sans", sans-serif !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

#product_details .call_seller p i {
  color: #1d63ff;
  font-size: 18px;
}

#product_details .call_seller a {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #121722 !important;
  font-family: "Open Sans", sans-serif !important;
  background-color: #ffcf3233;
  padding: 0 10px;
  border-radius: 5px;
  transition: 0.4s;
}

#product_details .call_seller a:hover {
  color: #1d63ff !important;
  background-color: #f2c32b !important;
}

#product_details .Safety_tips {
  cursor: default;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 50px;
  border: 2px solid #ffce32;
}

#product_details .Safety_tips p {
  font-size: 15px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

#product_details .Safety_tips p i {
  color: #f2c32b;
  margin-right: 5px;
  font-size: 20px;
}

#product_details .Safety_tips ul li {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  position: relative;
  padding-left: 15px;
}

#product_details .Safety_tips ul li::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #1d63ff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#product_details .Safety_tips ul .link::before {
  display: none;
}

#product_details .Safety_tips ul .link a {
  margin-top: 10px;
  color: #1d63ff;
  font-weight: 700;
  transition: 0.4s;
  padding: 0 15px;
  border-radius: 5px;
  margin-left: -15px;
}

#product_details .Safety_tips ul .link a:hover {
  background: #ffce32;
}

#product_details .model_condition {
  margin-top: 30px;
}

#product_details .model_condition span {
  margin-left: 5px;
  color: #1d63ff;
}

#product_details .item_details_condition p {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  position: relative;
  padding-left: 15px;
}

#product_details .item_details_condition h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding-left: 15px;
  margin-top: 20px;
}

#product_details .item_details_condition {
  margin-bottom: 50px;
}

/* -------------------------------
    product_details end
------------------------------- */

/* -------------------------------
    My account Start
------------------------------- */
#post_part {
  background: #ffcf3233;
  padding: 40px 0;
}

#post_part .item {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  border-bottom: 4px solid #ffce32;
}

#post_part h2 {
  font-size: 30px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

#post_part .add_post_btn a {
  font-size: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  text-transform: capitalize;
  border-radius: 10px;
  background: #1d63ff;
  transition: 0.4s;
  border-bottom: 3px solid #f2c32b;
  text-shadow: 2px 2px 2px rgba(18, 23, 34, 0.5);
}

#post_part .add_post_btn a:hover {
  color: #121722;
  background-color: #f2c32b;
  border-color: #1d63ff;
}

#post_part h3 {
  font-size: 25px;
  font-weight: 400;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  margin-top: 5px;
  border-bottom: 1px solid rgba(18, 23, 34, 0.4);
  padding-bottom: 10px;
}

#post_part .post_item_link {
  display: block;
}

#post_part .post_item_link .post_item {
  display: flex;
  height: 150px;
  overflow: hidden;
  background-color: #ffcf3233;
  border: 2px solid #f2c32b;
  transition: 0.4s;
  margin-bottom: 20px;
  overflow: hidden;
  height: 150px;
  border-radius: 5px;
  position: relative;
}

#post_part .post_item_link .post_item .delete_btn button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #f2c32b;
  background-color: #121722;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 5px 20px;
  margin-left: 30px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 2px solid #f2c32b;
  transition: 0.4s;
  cursor: pointer;
}

#post_part .post_item .img {
  width: 30%;
  background-color: #fff;
}

#post_part .post_item .img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#post_part .post_item .text {
  width: 70%;
  padding: 15px 15px 0 15px;
}

#post_part .post_item .text h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  margin-bottom: 0 !important;
  border: none;
}

#post_part .post_item .text p {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}

#post_part .post_item .text h4 {
  font-size: 15px;
  font-weight: 700;
  color: #1d63ff;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------------
    My account end
------------------------------- */

/* -------------------------------
    add post start
------------------------------- */
#add_post .condition {
  display: flex;
}

#add_post h3 {
  font-size: 20px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#add_post .left {
  margin-right: 200px;
}

#add_post label {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-left: 5px;
}

#add_post .product_condition.one {
  margin-top: 50px;
}

#add_post .product_condition {
  margin-top: 40px;
}

#add_post .brand {
  margin-top: 50px;
}

#add_post .title {
  margin-bottom: 20px;
}

#add_post .brand label {
  margin-bottom: 5px;
}

#add_post .brand input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #121722;
}

#add_post .brand .top {
  margin-bottom: 20px;
}

#add_post .brand .price {
  margin-top: 20px;
}

#add_post .brand .details {
  margin-top: 20px;
}

#add_post .brand textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #121722;
  padding: 10px;
}

#add_post .add_img {
  padding: 50px 0;
}

#add_post .images {
  display: flex;
  gap: 20px;
}

.add_img label {
  background-color: #f2c32b;
  padding: 15px 30px;
  cursor: pointer;
}

.add_img label {
  font-size: 20px !important;
  color: #121722 !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 8px 20px;
  text-transform: capitalize;
  border-radius: 10px;
  background: #f2c32b;
  transition: 0.4s;
  text-shadow: 2px 2px 2px rgba(18, 23, 34, 0.5);
}

#add_post .modal-dialog {
  max-width: 800px;
}

#add_post .category {
  margin-top: 25px;
}

#add_post .category label {
  display: block;
  margin-bottom: 10px;
}

#add_post .category select {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  margin-left: 5px;
}

#add_post .form-select {
  border: 1px solid #1d63ff;
  border-radius: 10px;
}

#add_post .form-select:focus {
  border-color: #1d63ff;
  outline: 0;
  box-shadow: none;
}

#add_post .location .location_track_button button {
  width: 100%;
  border-radius: 10px;
}

#add_post .location .location_track_button button:hover {
  background-color: #f2c32b;
  color: #121722;
}

#add_post .contact_details .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #1d63ff;
  outline: 0;
  box-shadow: none;
}

#add_post .contact_details .main {
  display: flex;
  margin-top: 20px;
}

#add_post .contact_details input {
  border-radius: 10px;
  border-color: #121722;
}

#add_post .contact_details .main .left {
  margin-right: 50px;
  width: 300px;
}

#add_post .contact_details .main .right {
  width: 300px;
}

#add_post .contact_details {
  margin-bottom: 50px;
}

#add_post .contact_details p {
  font-size: 15px;
  font-weight: 500;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-left: 5px;
  margin-top: 10px;
  font-weight: 700;
}

#add_post .contact_details p span {
  margin-left: 4px;
  font-weight: 500;
}

#add_post .contact_details .name {
  text-transform: capitalize;
}

#add_post .post_ad_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding: 8px 35px;
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid #1d63ff;
  transition: 0.4s;
  width: 100%;
  background-color: #1d63ff;
}

#add_post .post_ad_btn {
  margin-bottom: 50px;
}

#add_post .post_ad_btn:hover {
  background-color: #f2c32b;
  color: #121722;
  border-color: #121722;
}

/* -------------------------------
    add post end
------------------------------- */

/* -------------------------------
    stay safe start
------------------------------- */
#stay_safe_part .img {
  text-align: center;
  padding-top: 50px;
}

#stay_safe_part .img img {
  height: 100px;
}

#stay_safe_part .heading {
  text-align: center;
}

#stay_safe_part .heading h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

#stay_safe_part .heading p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  width: 800px;
  margin: 0 auto;
}
#stay_safe_part .safety_advice {
  text-align: center;
  position: relative;
}
#stay_safe_part .safety_advice::before {
  position: absolute;
  content: "";
  left: 0;
  top: 30px;
  height: 1px;
  background: rgba(18, 23, 34, 0.1);
  width: 100%;
}
#stay_safe_part .safety_advice img {
  height: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#stay_safe_part .safety_advice h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}

#stay_safe_part .safety_advice h4 {
  font-size: 16px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 30px;
}
#stay_safe_part .safety_advice p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

/* ---------------- */
#stay_safe_part .safety_Scams {
  text-align: center;
  margin-top: 100px;
}

#stay_safe_part .safety_Scams {
  text-align: center;
  position: relative;
}
#stay_safe_part .safety_Scams::before {
  position: absolute;
  content: "";
  left: 0;
  top: -25px;
  height: 1px;
  background: rgba(18, 23, 34, 0.1);
  width: 100%;
}
#stay_safe_part .safety_Scams img {
  height: 100px;
}

#stay_safe_part .safety_Scams h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}
#stay_safe_part .safety_Scams h4 {
  font-size: 16px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 30px;
}
#stay_safe_part .safety_Scams p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

/* -------------- */
#stay_safe_part .safety_measures_by_brrowit {
  text-align: center;
  margin-top: 100px;
}

#stay_safe_part .safety_measures_by_brrowit {
  text-align: center;
  position: relative;
}
#stay_safe_part .safety_measures_by_brrowit::before {
  position: absolute;
  content: "";
  left: 0;
  top: -25px;
  height: 1px;
  background: rgba(18, 23, 34, 0.1);
  width: 100%;
}
#stay_safe_part .safety_measures_by_brrowit img {
  height: 100px;
}

#stay_safe_part .safety_measures_by_brrowit h3 {
  font-size: 20px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}
#stay_safe_part .safety_measures_by_brrowit h4 {
  font-size: 16px;
  font-weight: 700;
  color: #121722;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 30px;
}
#stay_safe_part .safety_measures_by_brrowit p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

#stay_safe_part .reporting {
  margin-bottom: 50px;
}

/* -------------------------------
    privacy policy start
------------------------------- */
#privacy_policy {
  padding: 20px 0;
  background: #ffcf3233;
}
#privacy_policy .details {
  background: #ffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}

#privacy_policy .details .text h3 {
  color: #121722;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

#privacy_policy .details .text p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
#privacy_policy .details .text {
  margin-bottom: 20px;
}
#privacy_policy .details h2 {
  color: #1d63ff;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1d63ff;
}
/* -------------------------------
    privacy policy end
------------------------------- */

/* -------------------------------
    privacy policy start
------------------------------- */
#terms_condition {
  padding: 20px 0;
  background: #ffcf3233;
}
#terms_condition .details {
  background: #ffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}

#terms_condition p {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}

#terms_condition .details h2 {
  color: #1d63ff;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #1d63ff;
}
#terms_condition .details h2:first-child {
  margin-top: 0;
}
#terms_condition ul li {
  color: #121722;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}

/*-----------------------------------upload image-------------------------------*/

.upload {
  height: 130px;
  width: 130px;
  padding: 15px;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 15px;
}
.profile_upload {
  height: 300px;
  width: 100%;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  margin: auto;
}
#file_up {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
#file_up::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(242, 242, 242);
  color: #ffce32;
  font-size: 4rem;
  cursor: pointer;
  text-align: center;
}
#file_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
#file_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#file_img span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}
.upload span {
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 800;
  color: crimson;
}
.load_more {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}

/*-------------loading--------------*/

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  background: white;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
